{% extends "home/__base.html" %}
{% block content %}
  <div class='page-company-index layout-1'>
    <div class='sidebar'>
      <form method='get' action=''>
        <input name='city' type='text' placeholder='City' value='{{ request.GET.city }}' /><br/>
        <input name='state' type='text' placeholder='State' value='{{ request.GET.state }}' /><br/>
        <input name='capital' type='text' placeholder='Minimum Capital' value='{{ request.GET.capital }}' /> Million<br/>
        <input type='submit' value='update search results'/>
      </form>
    </div>
    <div class='mainbar'>
      {% if companies %}
        {% for company in companies %}
          <div class='company'>
            <a href="{% url 'apps.company_directory.views.detail' company.id %}">
              <img src="{{ MEDIA_URL}}{{company.logo }}" width="50" />
            </a>
            <h3><a href="{% url 'apps.company_directory.views.detail' company.id %}">{{ company.name }}</a></h3>
            <p>
            {{ company.description|truncatechars:2000 }}
            </p>
          </div><!--company-->
        {% endfor %}
      {% else %}
        <p>No companies are available.</p>
      {% endif %}
    </div>
  </div><!--page-company-index-->
{% endblock %}
